@theme {
  /* Palette */
  --color-green-neutro: #D6E9DB;
  --color-green-100: #EEFFF3;
  --color-green-200: #D6FFE6;
  --color-green-300: #B0FFCF;
  --color-green-400: #72FFAA;
  --color-green-500: #2EFA7D;
  --color-green-600: #04E35B;
  --color-green-700: #00BD47;
  --color-green-800: #018F39;
  --color-green-900: #077432;
  --color-green-1000: #085F2D;
  --color-green-1100: #003616;
  --color-yellow-100: #FFFBEB;
  --color-yellow-200: #FFF3C6;
  --color-yellow-300: #FFE588;
  --color-yellow-400: #FFD65A;
  --color-yellow-500: #FFBE20;
  --color-yellow-600: #F99C07;
  --color-yellow-700: #DD7402;
  --color-yellow-800: #B75006;
  --color-yellow-900: #943D0C;
  --color-yellow-1000: #7A330D;
  --color-yellow-1100: #461902;
  --color-blue-100: #EEFAFD;
  --color-blue-200: #D3F2FA;
  --color-blue-300: #ADE5F4;
  --color-blue-400: #5CC8E8;
  --color-blue-500: #35B2DB;
  --color-blue-600: #1995C1;
  --color-blue-700: #1878A2;
  --color-blue-800: #1A6184;
  --color-blue-900: #1E506C;
  --color-blue-1000: #1D445C;
  --color-blue-1100: #0E2C3E;
  --color-indigo-100: #F1F7FF;
  --color-indigo-200: #E5EEFF;
  --color-indigo-300: #CEE0FF;
  --color-indigo-400: #A7C5FF;
  --color-indigo-500: #769FFF;
  --color-indigo-600: #3F6EFF;
  --color-indigo-700: #1843FF;
  --color-indigo-800: #0735FA;
  --color-indigo-900: #052CD2;
  --color-indigo-1000: #0625AC;
  --color-indigo-1100: #001A72;
  --color-red-100: #FEF2F3;
  --color-red-200: #FFE1E3;
  --color-red-300: #FFC8CC;
  --color-red-400: #FFA2A8;
  --color-red-500: #FD6C76;
  --color-red-600: #F53E4A;
  --color-red-700: #E5333F;
  --color-red-800: #BF1621;
  --color-red-900: #9E161F;
  --color-red-1000: #831920;
  --color-red-1100: #47080C;
  --color-orange-100: #FFF7ED;
  --color-orange-200: #FEEED6;
  --color-orange-300: #FCD9AC;
  --color-orange-400: #FABD77;
  --color-orange-500: #F79339;
  --color-orange-600: #F5791A;
  --color-orange-700: #E65E10;
  --color-orange-800: #BE4610;
  --color-orange-900: #973815;
  --color-orange-1000: #7A3014;
  --color-orange-1100: #421608;
  --color-pink-100: #FCF3F7;
  --color-pink-200: #F9EAF1;
  --color-pink-300: #F6D4E3;
  --color-pink-400: #EFB2CC;
  --color-pink-500: #E482A9;
  --color-pink-600: #D65384;
  --color-pink-700: #C53D69;
  --color-pink-800: #AA2C51;
  --color-pink-900: #8D2744;
  --color-pink-1000: #76253C;
  --color-pink-1100: #47101F;
  --color-moss-green-100: #F9FBEA;
  --color-moss-green-200: #F1F6D1;
  --color-moss-green-300: #E1EDA9;
  --color-moss-green-400: #CCE076;
  --color-moss-green-500: #B0CC41;
  --color-moss-green-600: #97B42E;
  --color-moss-green-700: #758F21;
  --color-moss-green-800: #596E1D;
  --color-moss-green-900: #49581C;
  --color-moss-green-1000: #3D4B1C;
  --color-moss-green-1100: #1F290A;
  --color-grey-100: #F8F7F8;
  --color-grey-200: #EFEFEF;
  --color-grey-300: #DCDBDC;
  --color-grey-400: #BEBBBD;
  --color-grey-500: #9A9698;
  --color-grey-600: #7E797B;
  --color-grey-700: #676264;
  --color-grey-800: #595557;
  --color-grey-900: #484445;
  --color-grey-1000: #3E3C3D;
  --color-grey-1100: #292829;
}