@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #213547;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  background-color: #ffffff;
  min-height: 100vh;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-gray-300);
  transition: all 300ms;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

select {
  -webkit-appearance: none; /* Remove default Safari styles */
  -moz-appearance: none;    /* For Firefox */
  appearance: none;         /* Standard */
  
}

